* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Segoe UI', sans-serif;
}

.card {
    width: 80%;
    border: 1px solid gray;
    box-shadow: 9px 9px 27px 0 black;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}


.card-left {
    display: flex;
    flex-direction: column;
    justify-content: center;
    padding-left: 10px;
}

.card-left span {
    font-weight: 400;
}

.card-left > a {
    margin-top: 10px;
    font-size: 25px;
    color: black;
    text-decoration: none;
    font-weight: bold;
}

.card-left > p {
    color: gray;
}